@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body{
    background-color: rgb(40, 40, 40);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    transition: all 1s ease-in-out;

    .background-filter{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.75);

        .input-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto 50px auto;
            width: 200px;
            height: 50px;

            input{
                font-family: 'Jost', sans-serif;
                border: none;
                height: 25px;
                border-radius: 10px;
                padding: 10px;
                outline: none;
            }

            i{
                cursor: pointer;
                margin-left: 10px;
            }
        }

        .slider-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto auto auto;
            width: 80%;
            max-width: 1000px;
            height: 600px;

            .arrow-container{
                cursor: pointer;
                width: 100%;
                min-width: 50px;
                height: 75px;
                border: 2px solid #FFA500;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto -10 auto -10;
            }

            .image-container{
                z-index: 1;
                overflow: hidden;
                min-width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 1s ease-in-out;
            }
        }
    }
}